header {
    border: 1px solid #000000;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 40px;
}
.perfil{ 
    align-self: center;
    padding: 0.2rem;
    height: 100%;
    display: flex;

}
img{
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.pokedexHeaderTrainerName{
    margin: auto;
}
input {
    margin: 3px;
}
button {
    margin: 2px;
}