.SkeletonContainer {
  display: contents;
}
.pokedexCard {
  border: 2px solid #f2c0ff;
  background-image: linear-gradient(335deg, #d6e0fc 0, #dbdffb 3.85%, #e0defa 7.69%, #e4dcf8 11.54%, #e9dbf6 15.38%, #eddaf4 19.23%, #f1d9f1 23.08%, #f5d8ed 26.92%, #f8d8ea 30.77%, #fad7e6 34.62%, #fcd7e2 38.46%, #fed7df 42.31%, #ffd7db 46.15%, #ffd7d7 50%, #ffd7d3 53.85%, #fed8d0 57.69%, #fdd9cd 61.54%, #fbdacb 65.38%, #f9dbc8 69.23%, #f6dcc7 73.08%, #f3ddc5 76.92%, #efdec4 80.77%, #ebdfc4 84.62%, #e7e1c4 88.46%, #e3e2c5 92.31%, #dfe3c7 96.15%, #dbe4c8 100%);
  display: grid;
  padding: 0.5rem;
  border-radius: 0.3rem;
}